<h2>{{ image?.title }}</h2>
<div class="image-detail-container">
  <div class="image-info-container">
    <table>
      <tbody>
      <tr>
        <td>
          Title
        </td>
        <td class="colon">:</td>
        <td>{{ image?.title }}</td>
      </tr>
      <tr>
        <td>
          Extention
        </td>
        <td class="colon">:</td>
        <td>{{ image?.mediaType }}</td>
      </tr>
      <tr>
        <td>
          Latitude
        </td>
        <td class="colon">:</td>
        <td>{{ image?.latitude }}</td>
      </tr>
      <tr>
        <td>
          Longitude
        </td>
        <td class="colon">:</td>
        <td>{{ image?.longitude }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="thumbnail-container">
    <img class="image-preview" [src]="imageId | imageThumbnail | async" [alt]="imageId">
  </div>

</div>

<div class="download-button-container">
  <button type="button" class="btn btn-primary" (click)="downloadImage()">Download</button>
</div>
