<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Upload Image</strong>
      </c-card-header>
      <c-card-body>
        <form cForm (ngSubmit)="onUpload()">
          <div class="mb-3">
            <label cLabel for="formImageFile">Image to upload</label>
            <input cFormControl id="formImageFile" [type]="'file'" (change)="onImageFileSelected($event)" name="file"/>
          </div>

          <div class="mb-3">
            <label cLabel for="formThumbnailFile">Thumbnail to upload</label>
            <input cFormControl id="formThumbnailFile" [type]="'file'" (change)="onThumbnailFileSelected($event)" name="file"/>
          </div>

          <div class="mb-3">
            <label cLabel for="titleFormControlInput">Image title</label>
            <input cFormControl
                   id="titleFormControlInput"
                   [placeholder]="'Input title here'"
                   [type]="'text'"
                   [(ngModel)]="title"
                   name="title"
            />
          </div>

          <div class="mb-3">
            <label cLabel for="coordinate">Coordinate</label>
            <app-map-example id="coordinate" [mapId]="'upload-image-map'"
                             (latLongClicked)="handleLatLongClicked($event)"></app-map-example>
          </div>

          <div class="mb-3">
            <label cLabel for="descriptionFormControlTextarea">Image description</label>
            <textarea cFormControl
                      id="descriptionFormControlTextarea"
                      rows="3"
                      [placeholder]="'Input description here'"></textarea>
          </div>
          <div class="mb-3">
            <label cLabel>Visibility</label>
            <c-form-check>
              <input cFormCheckInput id="isPublicTrue" type="radio" [value]="true" [(ngModel)]="isPublic"
                     name="visibilityFormControlRadioButton"/>
              <label cFormCheckLabel>Public</label>
            </c-form-check>
            <c-form-check>
              <input cFormCheckInput id="isPublicFalse" type="radio" [value]="false" [(ngModel)]="isPublic"
                     name="visibilityFormControlRadioButton"/>
              <label cFormCheckLabel>Private</label>
            </c-form-check>
          </div>

          <div class="mb-3">
            <label cLabel>Product Level</label>
            <c-form-check>
              <input cFormCheckInput id="productFree" type="radio" [value]="'FREE'" [(ngModel)]="productLevel"
                     name="productLevelFormControlRadioButton"/>
              <label cFormCheckLabel>FREE</label>
            </c-form-check>
            <c-form-check>
              <input cFormCheckInput id="productPro" type="radio" [value]="'PRO'" [(ngModel)]="productLevel"
                     name="productLevelFormControlRadioButton"/>
              <label cFormCheckLabel>PRO</label>
            </c-form-check>
            <c-form-check>
              <input cFormCheckInput id="productPremium" type="radio" [value]="'PREMIUM'" [(ngModel)]="productLevel"
                     name="productLevelFormControlRadioButton"/>
              <label cFormCheckLabel>PREMIUM</label>
            </c-form-check>
          </div>
          <div class="mb-3">
            <button class="upload-button" type="submit" cButton color="primary">Upload</button>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="alreadyUpload"
    [color]="isUploadSuccess? 'success': 'danger'"
  >
    <c-toast-header class="text-dark">
      Upload Image
    </c-toast-header>
    <c-toast-body>
      <p [class]="isUploadSuccess? 'text-dark': 'text-white'">{{ uploadMessage }}</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
