<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="needs-validation" ngNativeValidate>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input formControlName="username" cFormControl placeholder="Username" required/>
                <c-form-feedback [valid]="false">Username can't be empty!</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input formControlName="email" cFormControl placeholder="Email" required/>
                <c-form-feedback [valid]="false">Email can't be empty!</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input formControlName="firstName" cFormControl placeholder="First name" required/>
                <c-form-feedback [valid]="false">First name can't be empty!</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input formControlName="lastName" cFormControl placeholder="Last name" required/>
                <c-form-feedback [valid]="false">Last name can't be empty!</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="password" cFormControl required placeholder="Password" [type]="'password'"/>
                <c-form-feedback [valid]="false">Password can't be empty!</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="repeatPassword" cFormControl required placeholder="Repeat password"
                       [type]="'password'"/>
                <c-form-feedback [valid]="false">Password verification can't be empty!</c-form-feedback>
              </c-input-group>
              <div class="button-group">
                <button cButton color="success" type="submit">Create Account</button>
                <button cButton color="danger" type="button" (click)="backToLogin()">Cancel</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="alreadyRegister"
    [color]="isSuccess? 'light': 'danger'"
  >
    <c-toast-header>
      Registration
    </c-toast-header>
    <c-toast-body>
      <p [class]="isSuccess? 'text-light': 'text-dark'">{{ message ? message : [0] }}</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
