:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.title {
  margin-bottom: 40px;
}

.label-span {
  font-weight: bold;
  margin-right: 10px;
}

.subscription-card {
  width: 350px;
}
