<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Search</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <c-input-group class="mb-3">
            <input aria-describedby="search-btn"
                   aria-label="Title"
                   cFormControl
                   placeholder="Image title"
            />
            <form class="row row-cols-sm-auto">
              <div class="col-12">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd (Start date)"
                    name="dp"
                    [displayMonths]="displayStartMonths"
                    [navigation]="navigationStart"
                    [outsideDays]="startOutsideDays"
                    [showWeekNumbers]="showStartWeekNumbers"
                    ngbDatepicker
                    #startD="ngbDatepicker"
                  />
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="startD.toggle()" type="button"></button>
                </div>
              </div>
            </form>

            <form class="row row-cols-sm-auto">
              <div class="col-12">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd (End date)"
                    name="dp"
                    [displayMonths]="displayEndMonths"
                    [navigation]="navigationEnd"
                    [outsideDays]="endOutsideDays"
                    [showWeekNumbers]="showEndWeekNumbers"
                    ngbDatepicker
                    #endD="ngbDatepicker"
                  />
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="endD.toggle()" type="button"></button>
                </div>
              </div>
            </form>

            <button cButton color="primary" id="search-btn" type="button">
              Search
            </button>
          </c-input-group>
        </form>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Images</strong>
      </c-card-header>
      <c-card-body>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- Name Column -->
            <ng-container matColumnDef="preview">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Preview </th>
              <td mat-cell *matCellDef="let row">
                <img class="image-preview" [src]="row.id | image | async" [alt]="row.id">
              </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let row"> {{row.title}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="price-idr">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price (IDR) </th>
              <td mat-cell *matCellDef="let row"> {{row.priceIDR}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="coordinate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Coordinate </th>
              <td mat-cell *matCellDef="let row"> ({{row.latitude}} , {{row.longitude}}) </td>
            </ng-container>

            <ng-container matColumnDef="view">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> View Total </th>
              <td mat-cell *matCellDef="let row"> <button class="btn btn-primary" (click)="testingApi()">View</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
          </table>

          <mat-paginator
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [length]="totalItems"
            (page)="onPageChange($event)" aria-label="Select page of users"></mat-paginator>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
