<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Search</strong>
      </c-card-header>
      <c-card-body>
        <form cRow (ngSubmit)="onSubmitFilter()">
          <div class="mb-3">
            <label cLabel class="visually-hidden" for="inlineFormInputGroupImageTitle">
              Image Title
            </label>
            <c-input-group>
              <span cInputGroupText>Image Title</span>
              <input cFormControl id="inlineFormInputGroupImageTitle"
                     [(ngModel)]="title"
                     placeholder="Input image title here" name="title"
              />
            </c-input-group>
          </div>
          <div class="mb-3">
            <label cLabel class="visually-hidden" for="inlineFormInputGroupRadiusKM">
              Radius (KM)
            </label>
            <c-input-group>
              <span cInputGroupText>Radius (KM)</span>
              <input cFormControl id="inlineFormInputGroupRadiusKM"
                     [(ngModel)]="radius"
                     [type]="'number'"
                     placeholder="Input radius search (in KM) here" name="radius"
              />
            </c-input-group>
          </div>
          <div class="mb-3">
            <label cLabel for="coordinate">
              Coordinate
              <c-form-check>
                <input [checked]="useCoordinateSearch" [(ngModel)]="useCoordinateSearch" cFormCheckInput
                       id="useCoordinateSearch"
                       type="checkbox"
                       name="useCoordinateSearch"
                />
                <label cFormCheckLabel for="useCoordinateSearch">Use Coordinate Search</label>
              </c-form-check>
            </label>
            <app-map-example id="coordinate" (latLongClicked)="handleLatLongClicked($event)"
                             [useCoordinateValue]="useCoordinateSearch"
                             [mapId]="'image-menu-map'"
            ></app-map-example>
          </div>
          <div class="mb-3">
            <button cButton type="submit">Submit</button>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Images</strong>
      </c-card-header>
      <c-card-body>
        <div class="mat-elevation-z8">
          <table cTable>
            <thead>
            <tr>
              <th scope="col">Preview</th>
              <th scope="col">Title</th>
              <th scope="col">Coordinate</th>
              <th scope="col">Bundle</th>
              <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            <ng-container>
              <tr *ngFor="let image of images">
                <td><img class="image-preview" [src]="image.id! | imageThumbnail | async" [alt]="image.id"></td>
                <td>{{ image.title }}</td>
                <td>({{ image.latitude }} , {{ image.longitude }})</td>
                <td>
                  <c-badge *ngIf="image.productLevel === 'FREE'" color="info">{{ image.productLevel }}</c-badge>
                  <c-badge *ngIf="image.productLevel === 'PRO'" color="success">{{ image.productLevel }}</c-badge>
                  <c-badge *ngIf="image.productLevel === 'PREMIUM'" color="primary">{{ image.productLevel }}</c-badge>
                </td>
                <td>
                  <button class="btn btn-primary" *ngIf="canAccessImage(image)" (click)="gotoImagePage(image)">View
                  </button>
                  <button class="btn btn-primary" *ngIf="!canAccessImage(image)"
                          [cModalToggle]="verticallyCenteredModal.id" (click)="setupPopupData(image)">Upgrade
                    subscription!
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="images.length === 0">
              <div class="empty-search">
                <span>No data found, <button class="btn btn-primary">Pre-order?</button></span>
              </div>
            </ng-container>
            </tbody>
          </table>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Upgrade your subscription!</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div>
      <span>{{ selectedImage.title }}</span>
      <br>
      <span>Only IDR {{ selectedImage.productLevel === "PRO" ? "70,000" : "100,000" }} !</span>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
      Cancel
    </button>
    <button cButton color="primary" (click)="upgradeSubscription(selectedImage.productLevel!)">Upgrade!</button>
  </c-modal-footer>
</c-modal>
