<div class="container">
  <c-card class="text-center mb-4" [hidden]="packageLevel === 'PREMIUM'">
    <c-card-header>PRO Package</c-card-header>
    <c-card-body>
      <h5 cCardTitle>IDR 70,000 / mo</h5>
      <p cCardText>
        You can get all FREE + PRO images bundle!
      </p>
      <button cButton type="button" class="btn btn-primary" (click)="upgradePro()">
        Upgrade to Pro
      </button>
      <button cButton color="primary">Go somewhere</button>
    </c-card-body>
  </c-card>

  <c-card class="text-center mb-4">
    <c-card-header>PREMIUM Package</c-card-header>
    <c-card-body>
      <h5 cCardTitle>IDR 100,000 / mo</h5>
      <p cCardText>
        Get access to all images in our service (FREE + PRO + PREMIUM bundles)!
      </p>
      <button type="button" class="btn btn-primary" (click)="upgradePremium()">Upgrade to Premium</button>
    </c-card-body>
  </c-card>
</div>
